Package: dylv.liquidglass
Name: LiquidGlass
Version: 0.0.3
Architecture: iphoneos-arm
Description: Liquid (Gl)ass 0.1.0b architecture prototype
Maintainer: dylv
Author: dylv
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
